aiohttp
beautifulsoup4
hachoir
numpy
Pillow
pyrogram==2.*
requests
tgcrypto
git+https://github.com/cpanel10x/yt-dlp@taobao#egg=yt-dlp
yt-dlp
olefile
motor
pymongo
dnspython
psutil
loggers
filetype
tldextract
aiofiles
pyromod
lk21
